<div class="container text-justify">
    <div class="row" style="margin: auto;">
      <div class="col-md-3 text-left">
        <h6><b>Combine Honnete Ober Advancer Mercantiles</b></h6>
        <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</em></p>
      </div>
      <div style="margin-right: 3em;"></div>
      <div style="background-color: red; width: 1px; margin-right: 1em;">
  
      </div>
  
      <div class="col-md-8">
      