<%- include('header', {
  tabTitle: "Investments",
  favicon: "CHOAM_flag.ico",
}); -%>

<%- include('navbar', {
  Logo: "CHOAM_flag.svg",
  BannerTitle: "Investments",
  BannerSubtitle: "Lorem ipsum dolor sit amet",
  Home: "",
  Philosophy: "",
  Investments: "active",
  Team: "",
  Contact: "",

}); %>


<div class="container px-4">
  <div class="row g-2">

    <% investdata.map((item) => { %>
      <% let img = "https://picsum.photos/id/" + Math.floor(Math.random() * (100 - 0 + 1) + 0) 
      + "/200/200"; %>

      <%- include('RevealCard', {
        ImgSrc: img,
        ID: item.id,
        Company: item.profile.company,
        Description: item.profile.about,
        Address: item.profile.address
      }); %>

    <% }); %>
    
  </div>
</div>


<%- include('footer'); -%>
