<div class="card col-sm-4 RevealCard">
    <div class="revealImg imgClassReveal">
        <img src="<%= ImgSrc %>" alt="" />
    </div>
    <div class="revealDes descriptionClassHide card bg-info" style="margin: auto;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <p class="card-text text-justify">
                <%= Description %>
            </p>
        </div>
    </div>
</div>