<div class="card col-sm-4">
    <div class="imgClass">
        <img src="<%= ImgSrc %>" alt="" />
    </div>
    <div class="descriptionClass">
        <p>
            <%= Description %>
        </p>
    </div>
</div>