<div class="card col-sm-4">
    <div class="imgClass" onmouseover="function hide() {
        console.log(this);
    } hide();">
        <img src="<%= ImgSrc %>" alt="" />
    </div>
    <div class="descriptionClass">
        <p>
            <%= Description %>
        </p>
    </div>
</div>