<div class="p-4 RevealCard col-4"> <!-- col-sm-3 -->
    <div class="card">
        <div class="card revealImg imgClassReveal">
            <img src="<%= ImgSrc %>" alt="" style="object-fit: cover; width: 100%; height: 40vh;" class="rounded mx-auto d-block"/>
        </div>
        <div class="revealDes descriptionClassHide card bg-light">
            <div class="card-header">Header</div>
            <div class="card-body">
                <p class="card-text text-justify">
                    <%= Description %>
                </p>
            </div>
        </div>
    </div>
</div>