<div class="card col-sm-4 RevealCard">
    <div class="revealImg imgClassReveal">
        <img src="<%= ImgSrc %>" alt="" />
    </div>
    <div class="revealDes descriptionClassHide">
        <p>
            <%= Description %>
        </p>
    </div>
</div>