<div class="card col-sm-4">
    <div class="image">
        <img src="<%= ImageSrc %>"/>
    </div>
    <div class="description">
        <p>
            <%= Description %>
        </p>
    </div>
</div>